.banner {
    display: block;
    width: 100%;
}
.banner-home {
    color: #124020;
    font-size: x-large;
    width: 517px;
    height: 84px;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    letter-spacing: 2px;
    text-align: left;
    position: absolute;
    top: 45%;
    left: 10%;
}
.banner-home2 {
    color: #124020;
    font-size: x-large;
    width: 517px;
    height: 84px;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    letter-spacing: 2px;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 23%;
}