footer {
    background-color: lightgrey;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 13px 10px 8px;
    grid-template-areas: ". . ." "redes email copyright" ". . .";
    margin-top: 20px;
    width: 100%;
    p {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        margin-right: 7px;
    }
    a {
        margin-left: 7px;
    }
    }