/*paleta de colores
#124020
#CDFBBF
#487A38
light-grey
black
white
*/

@import 'header';
@import 'opiniones';
@import 'footer';
@import 'card';
@import 'banner';
@import 'mixins';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
html {
    font-size: 62.5%;
}
h1 {
    font-size: large;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #487A38;
    font-size: x-large;
}
h2 {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
p {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
}
a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
}
head {
    background-color: lightgray;
    padding: 10px;
    position: fixed;
    bottom: 50px;
}
.logo {
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    width: 65px;
    height: 65px;
    margin-top: 5px;
}
.home {
    width: 500px;
    height: 400px;
}
.column img {
    width: 100%;
    margin-top: 6px;
}
.row {
    display: flex;
    flex-direction: row;
    padding: 4px;
    flex-wrap: wrap;
}
.column {
    flex-wrap: wrap;
    flex: 25%;
    padding: 4px;
}
.explicacion-institucion {
    text-align: center;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 10px;
    margin-right: 10px;
}
.mapa {
    padding-top: 30px;
    margin-bottom: 15px;
    width: 550px;
    height: 550px;
}
.info-nuevos-miembros {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 135px;
    font-size: medium;
    text-align: center;
    margin-left: 10px;
    margin-right: 15px;
}
.donaciones {
    margin: auto;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-color: #487A38;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: content-box;
    width: 700px;
    height: 150px;
    float: right;
    margin-right: 70px;
    margin-bottom: 55px;
    margin-left: 15px;
    text-align: center;
}
.mapa-local {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    p {
        display: inline-block;
        margin-top: 100px;
    }
    div {
        width: 48%;
        padding: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
.mapa {
    width: 600px;
}
.foto-miembro {
    margin-left: 90px;
    margin-right: 90px;
}
  /* PAGINA NOSOTROS */
.col-lg-3 {
    display: inline-block;
    height: 550px;
    width: 300px;
    margin: auto;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 150px;
    margin-top: 100px;
    border-radius: 15px;
        img {
        margin-left: 70px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 150px;
    }
    p {
        text-align: center;
    }
}
.nosotros {
    margin-top: 80px;
    color: #487A38;
    font-size: xx-large;
}
.titulo-problematica {
    color: #487A38;
    margin-top: 50px;
    text-align: center;
    font-size: xx-large;
}
.reciclar {
    display: inline-block;
    height: 100px;
    width: 200px;
    margin: auto;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.como-reciclar {
    color: #487A38;
    font-size: large;
}
.forma-reciclar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
        p {
            display: inline-block;
            margin-top: 180px;
            margin-right: 15px;
        }
            div {
                    width: 48%;
                    padding: 80px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                }
}
.img-forma-reciclar {
    width: 600px;
    }
.carousel-caption {
    color: #124020;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #CDFBBF;
    }
@include desktop {
    header nav ul li:hover {
        background: lightgray;
    }
    .card {
        display: flex;
        flex-direction: row;
    }
    .titulo-card {
        margin-top: 150px;
    }
    .menu-hamburguesa {
        visibility: hidden;
        width: 1px;
        height: 1px;
    }
    }
@include mobile {
    .banner, .banner-home, .banner-home2 {
        visibility: hidden;
        width: 1px;
        height: 1px;
    }
    .column {
        width: 50%;
    }
    .card {
        display: flex;
        flex-direction: column;
    }
    .menu-desktop {
        visibility: hidden;
        width: 1px;
        height: 1px;
    }
    .footer {
        width: 100%;
    }
    .card-content, .card-content2, .card-content3 {
        width: 100%;
        align-items: center;
    }
    .mapa-local {
        display: flex;
        flex-direction: column;
    }
    .info-nuevos-miembros {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .donaciones {
        margin-right: 0;
        width:450px ;
        align-items: center;
    }
    .menu-hamburguesa :hover {
        color: #487A38;
        float: right;
    }
    .col-lg-3 {
        display: inline-block;
        height: 200px;
        width: 450px;
        margin: auto;
        border-width: 2px;
        border-style: solid;
        border-color: black;
        font-family: "Alata", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 30px;
        margin-top: 50px;
        border-radius: 15px;
        box-sizing: border-box;
            img {
                margin-left: 5px;
                margin-top: 10px;
                margin-bottom: 10px;
                width: 150px;
                float: left;
            }
                p {
                    text-align: center;
                    font-size: x-small;
                    
                }
    }
    .forma-reciclar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
            p {
                display: inline-block;
                margin-top: 5px;
                text-align: center;
                margin-left: 5px;
                margin-right: 5px;
            }
                div {
                        width: 48%;
                        padding: 80px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                    }
    }
    .img-forma-reciclar{
        align-items: center;
        width: 400px;
        margin-bottom: 5px;
        margin-right: 500px;
        margin-left: 5px;
    }
    .fotos-opiniones {
        visibility: hidden;
    }
    .opinion1, .opinion2, .opinion3 {
        width: 100%;
        margin-bottom: 20px;
        display: inline-block;
        margin: auto;
        font-family: "Alata", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .opiniones, .opinion1, .opinion2, .opinion3 p h2 {
        margin: 0 0 10px 0;
    }
    .burbuja {
        position: relative;
        padding: 20px;
        color: #222;
        border-radius: 5px;
        margin-left: 5px;
        background-color: lightgray;
        width: 150px;
        height: 130px;
        box-sizing: content-box;
        text-align: center;
        margin-left: 250px;
        :after {
            visibility: hidden;
        }
    }
    .mapa{
        width: 475px;
        align-items: center;
    }
}
@include tablet {
    .banner, .banner-home, .banner-home2 {
        visibility: hidden;
        width: 1px;
        height: 1px;
    }
    .column {
        width: 50%;
    }
    .card {
        display: flex;
        flex-direction: column;
    }
    .menu-desktop {
        visibility: hidden;
        width: 1px;
        height: 1px;
    }
    .card-content, .card-content2, .card-content3 {
        width: 100%;
        align-items: center;
    }
    .mapa-local {
        display: flex;
        flex-direction: column;
    }
    .info-nuevos-miembros {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .donaciones {
        margin-right: 0;
    }
    .menu-hamburguesa :hover {
        color: #487A38;
    }
    .menu-hamburguesa{
        float: right;
    }
    .col-lg-3 {
        display: inline-block;
        height: 300px;
        width: 700px;
        margin: auto;
        border-width: 2px;
        border-style: solid;
        border-color: black;
        font-family: "Alata", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 30px;
        margin-top: 50px;
        border-radius: 15px;
        box-sizing: border-box;
            img {
                margin-left: 5px;
                margin-top: 60px;
                margin-bottom: 10px;
                margin-right: 10px;
                width: 150px;
                float: left;
            }
                p {
                    text-align: center;
                    margin-top: 30px;
                    
                }
    }
    .forma-reciclar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
            p {
                display: inline-block;
                margin-top: 5px;
                text-align: center;
                margin-left: 5px;
                margin-right: 5px;
            }
                div {
                        width: 48%;
                        padding: 80px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                    }
    }
    .img-forma-reciclar{
        align-items: center;
        width: 600px;
        margin-bottom: 5px;
        margin-right: 500px;
        margin-left: 5px;
    }
.fotos-opiniones{
    visibility: hidden;
}
.mapa{
    align-items: center;
}
    }
